@use '../variables' as *;

.wrapper {
  max-width: 1270px + $contMargin;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 $contMargin;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .content {
    margin: 0 auto;
    width: 635px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    z-index: 1;

    .main {
      width: 100%;
      padding: 0 30px;

      @media (max-width: 620px) {
        padding: 0 5px;
      }

      .header {
        font-size: clamp(1.205rem, calc(0.5rem + 1.25vw), 1.415rem);
        padding: 5px 0;
        text-align: center;
      }

      ol {
        padding: 10px 0;
        padding-left: 20px;
        list-style-type: circle;
      }

      .link {
        padding: 0 5px;
        position: relative;
        text-decoration: none;
        color: rgb(10, 106, 138);

        &:visited {
          color: rgb(78, 77, 76);
        }

        &:hover {
          &::after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }

        &::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #877065;
          transform-origin: bottom right;
          transition: transform 0.25s ease-out;
        }
      }

      .linkDiv {
        // font-family: 'Roboto Slab', Tahoma, serif;
        // font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
        text-align: center;
      }
    }
  }
}