// .copyright,
// .author {
//   font-family: 'Roboto Slab', Tahoma, serif;
//   font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
//   text-align: center;
// }

.copyright {
  font-family: 'Roboto Slab', Tahoma, serif;
  font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
  text-align: center;
}

.copyright {
  margin-top: 30px;
  margin-bottom: 30px;
  @media (max-width: 620px) {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
// .author {
//   margin-bottom: 30px;
//   @media (max-width: 620px) {
//     margin-bottom: 15px;
//   }
// }
