// @media (min-width: 1920px) {}
@import '../variables';

.wrapper {
  max-width: 1270px + $contMargin;
  margin: 0 auto;
}

.container {
  position: relative;
  height: 276px;
  margin: 0 $contMargin;
  background: url(../../assets/headerImg.jpg) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;

  .lion1 {
    position: absolute;
    bottom: 0;
    left: 3vw;
    width: 323px;
    height: 171px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }

  .lion2 {
    position: absolute;
    bottom: 0px;
    right: 3vw;
    width: 323px;
    height: 171px;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 1100px) {
      display: none;
    }
  }

  @media (max-width: 950px) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .logo {
    width: 213px;
    margin-top: 36px;
    margin-right: 89px;
    height: 49px;
    background-color: transparent;

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 950px) {
      margin-top: 0;
      margin-right: 0;
      -webkit-transform: scale(1.35);
      -ms-transform: scale(1.35);
      transform: scale(1.35);
      -webkit-filter: brightness(100) saturate(100%);
      filter: brightness(100) saturate(100%);
    }
  }

  h1 {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: clamp(1rem, calc(0.5rem + 1.25vw), 1.5rem);
    background-color: transparent;

    @media (max-width: 950px) {
      margin-top: 0;
      margin-bottom: 0;
      -ms-flex-item-align: center;
      align-self: center;
      display: none;
    }
  }

  .contacts {
    font-family: 'Roboto Slab', Tahoma, serif;
    margin-top: 20px;
    width: 302px;
    height: 60px;
    background-color: transparent;
    font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: end;

    @media (max-width: 950px) {
      display: block;
      margin-top: 80px;
      margin-bottom: -22px;
      text-align: center;
    }

    .phone,
    .mail {
      display: inline-block;
      background-color: inherit;
      color: inherit;
      text-decoration: none;
      margin-top: 5px;
      @media (max-width: 1200px) {
        margin-left: 5px;
      }
      @media (max-width: 950px) {
        margin-left: 0;
        margin-right: 5px;
      }
    }
  }
}
