.wrapper {
  max-width: 1285px;
  margin: 0 auto; }

.container {
  position: relative;
  margin: 0 15px;
  display: flex;
  justify-content: space-between; }
  .container .leftPanel {
    width: 329px;
    height: 1306px;
    margin-top: 7px; }
    @media (max-width: 1250px) {
      .container .leftPanel {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1; } }
    @media (max-width: 660px) {
      .container .leftPanel {
        display: none; } }
  .container .content {
    margin: 0 auto;
    width: 635px;
    height: 1315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    z-index: 99; }
    .container .content .textBlock1 {
      background-color: inherit; }
    .container .content .header {
      max-width: 316px;
      margin: 0 auto 30px auto;
      text-align: center;
      font-size: clamp(1.05rem, calc(0.2rem + 1.3vw), 1.25rem);
      background-color: inherit; }
    .container .content p {
      font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
      padding: 0 20px;
      background-color: inherit; }
    .container .content .orderLinks {
      background-color: inherit; }
    .container .content .orderContacts {
      background-color: inherit; }
    .container .content .orderContactsHeader {
      background-color: inherit;
      font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
      text-align: center;
      margin-bottom: 30px; }
    .container .content .contactNumber {
      background-color: inherit; }
  .container .rightPanel {
    width: 329px;
    height: 1306px;
    margin-top: 6px; }
    @media (max-width: 1250px) {
      .container .rightPanel {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1; } }
    @media (max-width: 660px) {
      .container .rightPanel {
        display: none; } }
