.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed; }

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.modal {
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04); }

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  border: none;
  width: 30px;
  height: 30px;
  background: url("../../assets/UI/closeButton.svg") no-repeat center;
  transition: all 0.25s ease;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 10; }
  @media (max-width: 550px) {
    .closeBtn {
      width: 20px;
      height: 20px; } }

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: scale(1.1); }

.modalContent {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative; }
  @media (max-width: 1150px) {
    .modalContent {
      width: 90vw;
      height: auto; } }
  .modalContent .cardHeader {
    position: absolute;
    top: 0;
    font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
    text-align: center;
    padding: 15px 0;
    margin: auto 0; }
  .modalContent .imgContainer {
    overflow: hidden; }
  .modalContent .img {
    margin: 0;
    border-radius: 16px;
    height: 90vh;
    transition: transform 0.5s ease-in-out; }
    @media (max-width: 1150px) {
      .modalContent .img {
        width: 90vw;
        height: auto; } }
  .modalContent .cardNumber {
    font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
    position: absolute;
    bottom: 15px;
    left: 15px; }
  .modalContent .cardPrice {
    font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 15px; }
