.imageCont {
  max-width: 635px;
  margin: 30px auto 0 auto; }
  @media (max-width: 620px) {
    .imageCont {
      margin-top: 15px; } }
  .imageCont .image {
    width: 100%;
    transition: transform 0.5s ease-in-out; }
    .imageCont .image:hover {
      cursor: pointer;
      transform: scale(1.025); }
