@import '../variables';

.wrapper {
  max-width: 1270px + $contMargin;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 $contMargin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;

  .content {
    margin: 0 auto;
    width: 635px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #e2e2e2;
    z-index: 1;

    .firstOlDiv {
      margin-right: auto;
      width: 100%;
      padding: 0 30px;
      font-family: 'Roboto Slab', Tahoma, serif;
      font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);

      @media (max-width: 620px) {
        padding: 0 5px;
      }

      & > ol {
        padding-left: 20px;
        list-style-type: circle;
      }
    }
    .main {
      font-family: 'Roboto Slab', Tahoma, serif;
      font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
      width: 100%;
      padding: 0 30px;

      @media (max-width: 620px) {
        padding: 0 5px;
      }

      .header,
      .header2 {
        font-family: Montserrat, Roboto, system-ui, Tahoma, sans-serif;
        font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
      }

      .header2 {
        text-align: center;
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 10px;
        font-weight: 500;
      }

      ol {
        padding: 10px 0;
        padding-left: 20px;
        list-style-type: circle;
      }
      .subOl {
        padding-top: 0;
        padding-bottom: 0;
      }

      &:nth-of-type(3) {
        ol {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }

      &:nth-of-type(3) {
        & > ol:nth-child(8) {
          padding-bottom: 0;
        }
      }

      .imageCont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-width: 635px;
        margin: 20px auto 0 auto;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @media (max-width: 620px) {
          margin-top: 5px;
        }

        .imgWrapper {
          max-width: 32%;
          margin-right: 5px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      .imageContNoInt {
        max-width: 635px;
        margin: 20px auto 0 auto;

        @media (max-width: 620px) {
          margin-top: 15px;
        }

        .imageNoInt {
          width: 100%;
        }
      }
    }
  }
}
