.link {
  position: relative;
  display: inline-block;
  font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
  margin-bottom: 30px;
  width: fit-content;

  &:hover {
    cursor: pointer;

    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &:before {
    position: absolute;
    content: '';
    background: url(../../assets/meander.svg) no-repeat center;
    background-size: 100% 100%;
    width: 24px;
    height: 20px;
    top: -5px;
    left: -34px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #877065;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
