@import '../variables';

.wrapper {
  max-width: 1270px + $contMargin;
  margin: 0 auto;
}

.container {
  position: relative;
  margin: 0 $contMargin;
  display: flex;
  // flex-direction: column;
  // align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .content {
    margin: 0 auto;
    width: 635px;
    // height: 1315px;
    // min-width: 308px;
    // max-width: 635px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e2e2e2;
    z-index: 99;

    .main {
      font-family: 'Roboto Slab', Tahoma, serif;
      font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
      width: 100%;
      padding: 0 30px;

      @media (max-width: 620px) {
        padding: 0 5px;
      }

      .header,
      .header2 {
        font-size: clamp(0.8rem, calc(0.2rem + 1vw), 1rem);
      }

      .header2 {
        margin-bottom: 10px;
      }

      h2 {
        margin-top: 10px;
        font-weight: 500;
      }

      ol {
        padding: 10px 0;
        padding-left: 20px;
        list-style-type: circle;
      }
      .subOl {
        padding-top: 0;
        padding-bottom: 0;
      }
    }

    .thematicBreak {
      // max-width: 539px;
      background-color: inherit;
      width: 100%;
      margin: 30px 0;
      padding: 0 30px;
      // transition: padding 0.5s ease;

      @media (max-width: 620px) {
        padding: 0 5px;
        margin: 15px 0;
      }
    }
  }
}
