.paragraph {
  padding: 0 20px;
  max-width: 539px;
  font-size: clamp(0.675rem, calc(0.2rem + 0.85vw), 0.875rem);
  padding-bottom: 10px;

  &:nth-child(6) {
    padding-bottom: 0; //check
  }

  .bold {
    display: inline;
    position: relative;
    font-weight: bold;

    &:before {
      content: url(../../assets/meander.svg);
      position: absolute;
      top: 2px;
      left: -14px;
    }
  }
}
